<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HPCL Employee Chat</title>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">

    <script src="/js/jquery.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body ng-app="passwordReset" ng-controller="passwordResetController">
<div class="container">
    <div class="containerBox">
        <div class="headerIcon">
            <i class="fa fa-user fa-5x"></i>
        </div>
        <div class="alert alert-success" ng-show="resetSuccessAlert" style="margin-top: 30px">
            Password Reset Successfull. <a href="/login">Login</a>
        </div>
        <h1 ng-hide="resetSuccessAlert">Reset Password</h1>
        <form ng-submit="reset()" ng-hide="resetSuccessAlert">
            <div class="alert alert-danger" ng-show="notMatchAlert">
                Passwords doesn't match
            </div>
            <section class="inputContainer">
                <label for="password">
                    <i class="fa fa-key fa-2x"></i>
                </label>
                <input type="password" class="form-control input-lg" id="password" ng-model="password"
                       name="password" placeholder="New Password" tabindex="1" required="required">
            </section>
            <section class="inputContainer">
                <label for="confirmPassword">
                    <i class="fa fa-key fa-2x"></i>
                </label>
                <input type="password" class="form-control input-lg" id="confirmPassword" ng-model="confirmPassword"
                       name="confirmPassword" placeholder="Confirm Password" tabindex="1" required="required">
            </section>

            <button class="btn btn-lg" type="submit" tabindex="3">Reset Password</button>
        </form>
    </div>
</div>

<script src="/js/recovery.js"></script>
</body>
</html>